@import "tailwindcss";

@theme {
  --color-primary: #0284c7; /* Sky 600 */
  --color-primary-dark: #0369a1; /* Sky 700 */
  --color-secondary: #0f766e; /* Teal 600 */
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}
